[submodule "github/iced"]
	path = github/iced
	url = git@github.com:iced-rs/iced.git
[submodule "github/wgpu"]
	path = github/wgpu
	url = git@github.com:nmpribeiro/wgpu.git
[submodule "github/wgpu_glyph"]
	path = github/wgpu_glyph
	url = git@github.com:nmpribeiro/wgpu_glyph.git
